<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IdentificaciónDeRegistrosConPalabrasClave.Properties.Settings.InformacionAPFConnectionString"
            connectionString="Data Source=REPH-NITRO-5;Initial Catalog=InformacionAPF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;user=sa;password=Samahil14200"
            providerName="System.Data.SqlClient" />
        <add name="IdentificaciónDeRegistrosConPalabrasClave.Properties.Settings.InformacionAPFConnectionString1"
            connectionString="Data Source=REPH-NITRO-5;Initial Catalog=InformacionAPF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>